* text=auto eol=lf
backend/vendor/** linguist-vendored -diff
third_party/** linguist-vendored
*_gen.go linguist-generated
frontend/src/shared/api/generated/** linguist-generated
backend/.golangci.yml linguist-generated
frontend/package-lock.json -diff
